body {
 background-color: #1a1b69; 
}

.Houses {
  position: relative;  
  bottom: -100px;
  z-index: 1;
}

.TownCenter {
  position: relative;
  margin-top: 250px;
  z-index: 2;
}

.MOTD_Sign {
  position: relative;
  margin-bottom: 265px;
  z-index: 2;
}

.ground {
  width: 200%;
  height: 250px;
  left: 0%;
  background: white;
  bottom: 0;
  position: absolute;
  z-index: 0;
}
