body {
 background-color: #1a1b69; 
}

.Houses {
  position: absolute;  
  bottom: -280px;
  z-index: 1;
}

.TownCenter {
  position: absolute;
  margin-top: 150px;
  right: -600px;
  z-index: 2;
}

.MOTD_Sign {
  position: absolute;
  margin-top: 150px;
  right: -444px;
  bottom: -69px;
  z-index: 2;
}

.ground {
  width: 200%;
  height: 250px;
  left: 0%;
  background: white;
  bottom: 0;
  position: absolute;
  z-index: 0;
}
