body {
 background-color: #1a1b69; 
}

.Houses {
  position: absolute;  
  bottom: 240px;
  left: 130px;
  z-index: 1;
}

.TownCenter {
  position: absolute;
  margin-top: auto;
  left: auto;
  z-index: 1;
}

.ground {
  width: 200%;
  height: 250px;
  left: 0%;
  background: white;
  bottom: 0;
  position: absolute;
  z-index: 0;
}
