.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

h1 {
  font-family: Arial, Helvetica, sans-serif;  
}

h4 {
  font-family: Arial, Helvetica, sans-serif;  
}

p {
  font-family: Arial, Helvetica, sans-serif;  
}

a {
  font-family: Arial, Helvetica, sans-serif;  
}

.gamesBtn {
  border: 0;
  font-size: 20px;
  height: 50px;
  width: 46%;
  font-family: Arial, Helvetica, sans-serif;  
  color: black; 
  align: center;
}
